body{
    background-image: url("bcpp.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 100px;
}


.container1 {
    width:800px;
    font-size: 40px;
    font-style: normal;
    padding: 30px;
    background-color:rgb(255,255,255);  
}

.container2 {
    background-color:rgb(255, 255,255);
    width: 800px;
    font-size: 40px;
    font-style: normal;
    padding: 30px;
    text-align: center;

}


.maincontainer {
    display: flex;
    
}
.contact-icon {
    min-width:67px;
    height: 67px;
    display: inline-block;
    border-radius: 50%;
    background-color: blueviolet;
    color: white;
    text-align: center;
    font-size: 1.4rem;
    margin-right: 1rem;
   
}

.contact-icon {
    line-height: 67px;
}
.icontext{
    text-align: justify;
    vertical-align: text-top;
    display: flex;
}

.para{
    font-size: smaller;
}
button{
    color: rgb(175, 163, 163);
    background-color: rgb(243, 242, 242);
    border-radius: 10px;
    padding-top: 1px;
   
}
.heading{
    text-underline-offset: 18px;
}
p{
    margin-top: 10px;
    
}
